{% extends "base.html" %}

{% block title %}
	{{ title }}
{% endblock %}


{% block content %}
	Ideas lets you keep track of projects you're currently working on, <br>and ideas for projects you'd like to do in the future. Foundation Ideas will be <br>in the beta release coming in 2011!
{% endblock %}


{% block javascript %}
	<script src="/admin/system/js/jquery/jquery-ui-1.8.6.custom.min.js" type="text/javascript"></script>
	<script src="/admin/system/js/fpage/ideas.js" type="text/javascript"></script>
{% endblock %}