{% extends "base.html" %}

{% block title %}
	{{ title }}
{% endblock %}


{% block content %}
{% import "forms.html" as forms %}
	<div id="top">
		{% if settings.title != "" %}
		<h1 id="title" contenteditable="true" tabindex="1">{{ settings.title }}</h1>
		{% else %}
		<h1 id="title" contenteditable="true" tabindex="1">Your Website's Title</h1>
		{% endif %}
	</div>

	<div id="settings">
		<form action="save.php" method="POST">
		<!--<div id="settings_col1">
		{# {{ forms.bigselect("start_page", "start_page", "Start Page", "Select a start page", settings.start_page, start) }} #}

		</div>-->
		
		<div id="settings_col1">
			<fieldset id="layouts">
				{{ forms.smallselect("layout", "layout", "Select a layout", settings.layout, layouts) }}
			</fieldset>
		
			<fieldset id="thumbnail">
				<label for="thumbnail_width">Thumbnail Size</label>
				{{ forms.finput("thumbnail_width", "thumbnail_width", "", "w", settings.thumbnail_width) }} 
				<p class="unit">x</p>
				{{ forms.finput("thumbnail_height", "thumbnail_height", "", "h", settings.thumbnail_height) }}
			</fieldset>
			
			<fieldset id="images">
				<label for="image_sm_width">Image Sizes (Width)</label>
				
				<p class="size">small:</p>{{ forms.finput("image_sm_width", "image_sm_width", "", "w", settings.image_sm_width, "px") }}
				<p class="size">medium:</p>{{ forms.finput("image_md_width", "image_md_width", "", "w", settings.image_md_width, "px") }} 
				<p class="size">large:</p>{{ forms.finput("image_lg_width", "image_lg_width", "", "w", settings.image_lg_width, "px") }} 	
				<p class="size">x-large:</p>{{ forms.finput("image_xl_width", "image_xl_width", "", "w", settings.image_xl_width, "px") }} 
			</fieldset>

			<fieldset>
				{{ forms.finput("pagination", "pagination", "Pagination", "pages", settings.pagination, "items per page") }} 
			</fieldset>
			
			<div class="alert">
				<div class="alert_icon"></div>
				<div class="alert_content">
					<p>
						Foundation automatically resizes your existing images when you change a default image size. This is called reprocessing.
					</p>
					
					<p>
						Reprocessing takes some time, but it makes your site smaller and load faster for visitors. Reprocessing runs in the background, so you don't have to wait whenever you save your settings.</p>
					<p>
						Your original image will not be modified.
					</p>
				</div>
			</div>
			
			<fieldset id="slideshow">
				<label for="delay">Slideshow</label>
				
				<p class="size">autoplay?</p>
				{% if settings.slideshow_autoplay > 0 %}
					<input name="autoplay" type="checkbox" checked>
				{% else %}
					<input name="autoplay" type="checkbox">
				{% endif %}
				
				{{ forms.finput("slideshow_delay", "delay", "", "0", settings.slideshow_delay, "") }}
				{{ forms.bigselect("slideshow_transition", "slideshow_transition", "", "", settings.slideshow_transition, transitions) }}
				
				<p class="size">show text nav?</p>
				{% if settings.slideshow_text_nav > 0 %}
					<input id="slideshow_text_nav" name="slideshow_text_nav" type="checkbox" checked>
				{% else %}
					<input id="slideshow_text_nav" name="slideshow_text_nav" type="checkbox">
				{% endif %}
				
				<fieldset>
					{{ forms.finput("slideshow_text_nav_prev", "nav_prev", "", "Previous", settings.slideshow_text_nav_prev, "") }}
					<p class="size nav_input">/</p>
					{{ forms.finput("slideshow_text_nav_next", "nav_next", "", "Previous", settings.slideshow_text_nav_next, "") }}
				</fieldset>
			</fieldset>
		
			<div class="save">
				<div class="icon"></div>
				<input name="submit" type="submit" value="Save Settings">
			</div>
		</div>
		{#
			{% if settings.header != "" %}
				{{ forms.uploader("header", "header", "Header", "Upload header image", settings.header) }}
			{% else %}
				{{ forms.uploader("header", "header", "Header", "Upload header image") }}
			{% endif %}
		#}
	
	
		</div>
	</form>
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
	$('input#image_sm_width, input#image_md_width, input#image_lg_width, input#image_xl_width, input#thumbnail_width, input#thumbnail_height').change(function() {
		$('.alert').show();
	});
</script>
{% endblock %}