<!-- The include sentence acts as a concatenator.
		 It reads the file through Parsel, and adds it onto the current file. -->
{ include "header.htm" }

<div id="col2">
	<div id="top">
		<!-- This sentence will display a permanent link to the current project. -->
		<a href="{ show the project's permalink }" rel="permalink">
			<!-- This sentence will display the title of the current project. -->
			<h1 class="title">{ show the project's title }</h1>
		</a>
		
		<!-- These sentences display information about the current project. -->
		<p>{ show the project's foundation }</p>
		<p class="client">{ show the project's client }</p>
		<p class="date">{ show the project's date }</p>
		<a href="{ show the project's website }">{ show the project's website }</a>
	</div>
	
	<!-- This sentence displays specific paragraphs of the current 
			 project's description. -->
			 
	<!-- You can target specific sentences and paragraphs with something like
			 { show the project's description paragraphs #1,3,5 } -->
			 
	<!-- If you don't add sentences or paragraphs to the Parsel sentence, it
			 will display everything. -->
	{ show the project's description paragraphs #1 }
	
	<!-- This sentence creates a slideshow from the curent project's images.
			 You can also target specific images with the # syntax. -->
  { generate slideshow from images }
	{ show the project's description paragraphs #2-10 }

{ include "footer.htm" }